
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-card {
    max-width: 560px;
    margin: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #bada55; // badass ;)
  
    @media (min-width: 960px) {
      max-width: 250px;
    }
  
    .mat-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      box-sizing: border-box;
  
      img {
        width: 10vw;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  
    .mat-card-content {
      padding: 16px;
      box-sizing: border-box;
    }

 
  }
  